<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner  -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">
  Welcome
</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"The sky is blue","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">
  The sky is blue
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","colorName":"dark-orange"} -->
<a
  class="wp-block-ourblocktheme-genericbutton btn btn--large btn--dark-orange"
  href=""
  >Learn More</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage": "bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide #1 example","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">
  Slide #1 example
</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn more","size":"medium","colorName":"dark-orange"} -->
<a
  class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange"
  href=""
  >Learn more</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage": "apples.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide #2 example","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">
  Slide #2 example
</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a
  class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue"
  href=""
  >Learn More</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:query {"queryId":16,"query":{"perPage":"5","pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
<div class="wp-block-query">
  <!-- wp:post-template -->
  <!-- wp:post-title /-->

  <!-- wp:post-date /-->

  <!-- wp:post-excerpt /-->
  <!-- /wp:post-template -->
</div>
<!-- /wp:query -->

<!-- wp:buttons -->
<div class="wp-block-buttons">
  <!-- wp:button -->
  <div class="wp-block-button">
    <a class="wp-block-button__link">Click me</a>
  </div>
  <!-- /wp:button -->
</div>
<!-- /wp:buttons -->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage": "bread.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide #1 example","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">
  Slide #1 example
</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn more","size":"medium","colorName":"dark-orange"} -->
<a
  class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange"
  href=""
  >Learn more</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"imgID":47,"imgURL":"http://localhost:10058/wp-content/uploads/2020/08/meowsalot-1500x350.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide #2 example","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">
  Slide #2 example
</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a
  class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue"
  href=""
  >Learn More</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->
